#kalender {
  max-width: 480px;
  width: 100%;
  border: 1px solid #ff0000; /* Warna merah yang spesifik */
  font-family: sans-serif;
  margin: 10px auto;
}

#header-kalender {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ff0000; /* Warna merah yang spesifik */
  color: white;
}

.tombol-merah {
  background-color: #ff0000; /* Warna merah yang spesifik */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#tabel-kalender {
  width: 100%;
  border-collapse: collapse;
}

#tabel-kalender th,
#tabel-kalender td {
  border: 1px solid #ff0000; /* Warna merah yang spesifik */
  padding: 5px;
  text-align: center;
}

#daftar-kegiatan,
#daftar-agenda {
  color: white;
  padding: 10px;
}

.postingan {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 1px;
}

.hari-ini {
  background-color: #ff0000; /* Warna merah yang spesifik */
  color: white;
  font-weight: bold;
}

.hari-libur {
  background-color: yellow;
  color: red;
  font-weight: bold;
}

.ada-kegiatan {
  background-color: midnightblue;
  color: white;
  font-weight: bold;
}

.ada-agenda {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

#tabel-kalender td.ada-kegiatan,
#tabel-kalender td.ada-agenda,
#tabel-kalender td.hari-libur {
  cursor: pointer;
}

/* Media query untuk layar yang lebih kecil */
@media (max-width: 480px) {
  #kalender {
    width: 100%;
  }
}

#legenda-kalender {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.legenda-item {
  display: flex;
  align-items: center;
}

.legenda-warna {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.hari-ini.legenda-warna {
  background-color: #ff0000; /* Warna merah yang spesifik */
}

.hari-libur.legenda-warna {
  background-color: yellow;
}

.ada-kegiatan.legenda-warna {
  background-color: midnightblue;
}

.ada-agenda.legenda-warna {
  background-color: darkgreen;
}

/* Responsif untuk layar kecil */
@media (max-width: 480px) {
  #legenda-kalender {
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 5px;
  }
}

#jadwal-shprbulan select,
#jadwal-shprbulan input {
  grid-column: 1;
}
